
.wrapper{
	width:100%;
	height: 1150px;
	background-image: linear-gradient(to bottom,
				rgba(1,103,55,1), rgba(1,103,55,1), rgba(1,103,55,0));
}

* {
	margin: 0;
	padding: 0;
}

.header{
	display: flex;
	text-align: center;
	background-color: #000000;
	border: 1px solid black;
	width:100%;
	height:50px
}

.h_logo1{
width: 10%;
	height: 120px;
	float: left;
	border-radius: 90px;
	margin: 5px;
}

.h_logo2{
width: 10%;
	height: 120px;
	float: right;
	border-radius: 100px;
	margin: 5px;	
}

.nav__link1{
	color: white;
  background-color: #0A1120;
  border: 1px solid black;
  width: 100%;
  height: 20px;
  padding: 5px;
  text-align: center;
		float: left;
}

 nav {
	margin-left: auto;
  }
  
  a:link {
  color: white;
  text-decoration: none;

}

a:hover {
  color: white;
  text-decoration: underline;
}
  
  .nav_links {
	list-style: none;
  }
  
  .nav_links li {
	display: inline-block;
	padding: 0px 15px;
  }
    
.header_1{
	border: 1px solid black;
	width:100%;
	height:150px;
	text-align: center;
	background-color: #15192F;
	font-size: 20px;
	margin-bottom: 20px;
	color: white;
}

.header_2{
	border: 1px solid black;
	padding: 15px;
	background-color: #15192F;
	color: white;
	text-align: center;
	font-size: 30px;
	border-radius:  15px 80px 10px 5px;
	width: 53%;
	margin-bottom: 20px;
	
}

.links_container{
	display: flex;
	flex-direction: row;
	margin-bottom: 30px;
}

.nav__link2{
	color: white;
  width: 500%;
  height: 100px;
}

.arrows{
	height: 40px;
	margin-left: 20px;
}

.join_us_link{
	border: 1px solid black;
	background-color: #0F2642;
	border-radius: 25px;
	color: white;
	text-align: center;
	margin-right: 20px;
	padding: 8px;
	font-size: 25px;
	width: 350px;
	
}

.update_link{
	border: 1px solid black;
	background-color: #0F2642;
	border-radius: 25px;
	color: white;
	text-align: center;
	margin-right: 20px;
	padding: 8px;
	font-size: 25px;
	width: 300px;
}

.nav_link3{
		background-color: white;
		color: black;
		text-align: center;
		border-radius: 90px;
		padding: 3px;
		font-size: 18px;
	}

.flex_box1{
	display: inline-flex;
	flex-direction: row;
}

.featured_image{
	width: 97%;
	height: 450px;
	border-radius: 20px;
	margin-left: 20px;
	margin-top: -20px;
	margin-bottom: 10px;
}

.content_main{
	display: flex;
	flex-direction: column;
}

.info_text{
	border: 1px solid black;
	justify-content: space-around;
	width: 97%;
	height:150px;
	padding: 10px;
	text-align: left;
	font-size: 25px;
	background-color: #0F2642;
	color: white;
	border-radius: 90px 15px 10px 5px;
	margin-left: 10px;
	margin-right: 10px;
}

.content_sides{
	display: flex;
	flex-direction: column;
	margin-right: 20px;
	margin-left: 2px;
	margin-top: -140px;
}

.banner{
	line-height: normal;
	padding: 5px 20px 5px 20px;	
	font-size: 20px;
	float:right;
	margin-right; 100px;
	border-top-left-radius: 90px;
	border-top-right-radius: 90px;
	background-color: #0A1120;
	color: white;
	margin-right: 20px;
}

.img_faculty{
	width: 50%;
	height: 200px;
	float: right;
	border-radius:  15px 80px 10px 5px;
	
}

.faculty_box{
	border: 1px solid black;
	width: 100%;
	height: 200px;
	background-color: #0F2642;
	margin-right; 100px;
	color: white;
	border-radius: 90px 15px 10px 5px;
	padding: 5px;
}

.faculty_title{
	text-align: center;
	font-size: 25px;
}

.faculty_text{
	font-size: 20px;
	text-align: left;
	justify-content: center;
}

.img_students1{
	width: 50%;
	height: 120px;
	float: right;
	border-radius: 10px;
	
}

.img_students2{
	width: 50%;
	height: 150px;
	float: left;
	border-radius: 10px;
}

.stu_flex{
	display: inline-flex;
	flex-direction: row;
}

.students_box{
	border: 1px solid black;
	width: 100%;
	height: 250px;
	font-size: 20px;
	background-color: #0A1120;
	margin-right; 100px;
	color: white;
	border-radius: 10px;
	padding: 5px;
}

.stu_title{
	text-align: left;
	margin-right: 30px;
	font-size: 25px;
}

.students_text{
	text-align: left;
	float: left;
	margin-left:150px;
}

.img_oath{
	width: 50%;
	height: 230px;
	float: left;
	border-radius: 90px 15px 10px 5px;
}

.oath_box{
	border: 1px solid black;
	width: 100%;
	height: 250px;
	font-size: 20px;
	background-color: #0F2642;
	margin-right; 100px;
	color: white;
	border-radius:  10px 10px 	80px 5px;
	margin-bottom: 20px;
	padding: 5px;
}

.oath_title{
	font-size: 25px;
}

.contacts{
	font-size: 20px;
	display: flex;
	flex-direction: row;
	width: 50%;
	height: 40px;
	text-align: center;
	background-color: #0F2642;
	margin-left: 150px;
	color: white;
	border-radius: 90px;
	
}

.arrow_down{
	height: 30px;
}

.footer{
	position: relative;
	border: 1px solid black;
	bottom: -50px;
	width: 100%;  
	height: 150px;
	background-color: #0F2642;
	color: white; 
	display: flex;
	padding: 5px;
}

.footer_Title{
	width: 70%;
	height: 2px;
	text-align: left;
	font-style: semi-bold;	
	padding-top: 50px;
}

.footer_logo1{
 width: 10%;
	height: 140px;
	padding: 2px;
	float: right;
	border-radius: 90px;
}

.footer_links_titles{
	font-size: 20px;
	font-weight: bold;
}

.stucouncil_links{
	width: 50%;
	height: 10px;
	text-align: left;
	font-size: 10px;
	 float: left;
     margin-left:100px;
	 color: white;
	 padding: 5px;
}

.stu_council_logo{
	height: 30px;
	float: left;
	border-radius: 90px;
}

.comsoc_links{
	width: 50%;
	height: 10px;
	text-align: left;
	font-size: 10px;
	 float: left;
     margin-left: 90px;
	 color: white;
	 padding: 5px;
}

.comsoc_logo{
	height: 30px;
	float: left;
	border-radius: 90px;
}
